@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #48cfcb;
  --secondary-color: #229799;
  --accent-color: #f5f5f5;
  --dark-accent-color: #696969;
  --text-color: #f5f5f5;
  --dark-text-color: #696969;
  scroll-behavior: smooth;
}

body {
  color: var(--accent-color);
  background: var(--accent-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
