.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerImage {
  height: auto;
  width: 25%;
  border-radius: 1%;
}

.headerTextDiv {
  height: auto;
  width: 40%;
  padding-left: 10%;
}

.startButton {
  margin-left: 15%;
  margin-top: 5%;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    flex-flow: column nowrap;
  }

  .headerImage {
    height: auto;
    width: 50%;
  }

  .headerTextDiv {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .headerImage {
    width: 75%;
    height: 25%;
  }

  .headerTextDiv {
    width: 100%;
  }
}

.headerButtonDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20vh;
  width: auto;
}
