.projectsSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  margin: 5% auto;
  position: relative;
  display: inline-block;
}

.projectImage {
  display: block;
  width: 60%;
  height: auto;
}

.overlayContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 151, 153, 0.8);
  border: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  height: 30%;
}

.overlayContainer img {
  align-items: center;
  padding: 3% auto auto auto;
}
